<div class="row">
    <div class="col-md-12">
        <input type="myDB">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input [type]="myDB">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p [class.alert]="true" [class.alert-success]="true">This is made by Devil</p>
        <p [attr.myDB]="myDB">This is Devil</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input type="button" (click)="clkMe($event)" value="Click Me" class="btn btn-outline-primary">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input type="text" (keyup)="clkMe($event)">
    </div>
</div>
