<div class="row" [appCustDirective]="'alert alert-success'">
    <div class="col-md-12">
        Sample Text
    </div>
</div>
<!-- Structural Directive = ngIf -->
<div class="row" *ngIf = "false">
    <div class="col-md-12">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis, assumenda!
    </div>
</div>

<!-- ngIf using ng-template -->
<ng-template [ngIf]="false">
    <div class="row">
        <div class="col-md-12">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis, assumenda!
        </div>
    </div>
</ng-template>

<!-- Structural Directive = ngFor -->
<div class="row">
    <div class="col-md-12">
        <ol>
            <li *ngFor="let mb of (mobiles)"> {{mb}} </li>
        </ol>
    </div>
</div>