<div class="row">
    <div class="col-md-12">
        <div class="alert alert-primary" (click)="onClk('alert alert-primary')">This is Primary Alert</div>
        <div class="alert alert-secondary" (click)="onClk('alert alert-secondary')">This is Secondary Alert</div>
        <div class="alert alert-info" (click)="onClk('alert alert-info')">This is Info Alert</div>
        <div class="alert alert-dark" (click)="onClk('alert alert-dark')">This is Dark Alert</div>
        <div class="alert alert-light" (click)="onClk('alert alert-light')">This is Light Alert</div>
        <div class="alert alert-success" (click)="onClk('alert alert-success')">This is Success Alert</div>
        <div class="alert alert-warning" (click)="onClk('alert alert-warning')">This is Warning Alert</div>
        <div class="alert alert-danger" (click)="onClk('alert alert-danger')">This is Danger Alert</div>
    </div>
</div>