<div class="container">
  <app-custom-component [title]="'This is Java.'" [clstyp]="'primary'" (btnOutput)="onBtn($event)"></app-custom-component>
  <app-custom-component [title]="'This is Python.'" [clstyp]="'danger'" (btnOutput)="onBtn($event)"></app-custom-component>
  <app-custom-component [title]="'This is Angular.'" [clstyp]="'secondary'" (btnOutput)="onBtn($event)"></app-custom-component>
  <div class="row" [appCustDirective]="'alert alert-dark'">
    <div class="col-md-12">
      Clicked on {{mainev?.titles}} and alert is {{mainev?.type}}
    </div>
  </div>
  <div class="row" [appCustDirective]="'alert alert-success'">
    <div class="col-md-12">
      Sample Text
    </div>
  </div>
</div>
